In [1]:
import pandas as pd

In [5]:
my_missing = ['NA','NULL','--'] # Load these values in the list as missing values
df = pd.read_csv("bank.csv", sep = ";", na_values = my_missing)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [11]:
categorical_cols = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "poutcome","y"]

for col in categorical_cols:
    print(f"Unique values in '{col}': {df[col].unique()}\n")

Unique values in 'job': ['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']

Unique values in 'marital': ['married' 'single' 'divorced']

Unique values in 'education': ['primary' 'secondary' 'tertiary' 'unknown']

Unique values in 'default': ['no' 'yes']

Unique values in 'housing': ['no' 'yes']

Unique values in 'loan': ['no' 'yes']

Unique values in 'contact': ['cellular' 'unknown' 'telephone']

Unique values in 'month': ['oct' 'may' 'apr' 'jun' 'feb' 'aug' 'jan' 'jul' 'nov' 'sep' 'mar' 'dec']

Unique values in 'poutcome': ['unknown' 'failure' 'other' 'success']

Unique values in 'y': ['no' 'yes']

In [15]:
df.to_csv('bank_data_final.csv', index=False)